<div class="o-grid__row o-grid__row--alt1">
  <div class="o-grid__box o-grid__box--twothirds">
    <h2>Campus and city life</h2>
    <p>Our safe and inclusive campus environment and our student-friendly city provide everything you need to make the most of your university experience.</p>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt1" id="homepage-campus-city">
  <div class="o-grid__box o-grid__box--third o-grid__box--full@small">
    <a class="c-figure c-figure--link" href="https://www.york.ac.uk/study/student-life/">
      <img class="c-figure__image" alt="" src="https://www.york.ac.uk/static/data/homepage/images/campus-city/student-life-600px.jpg" width="600" height="400">
      <div class="c-figure__content c-figure__content--blue">
        <h3>Student life</h3>
      </div>
    </a>
    <p>Make friends for life, discover new passions and learn invaluable skills. Discover why you'll love York.</p>
  </div>
  <div class="o-grid__box o-grid__box--third o-grid__box--half@small o-grid__box--full@tiny">
    <a class="c-figure c-figure--link" href="https://www.york.ac.uk/study/accommodation/">
      <img class="c-figure__image" alt="" src="https://www.york.ac.uk/static/data/homepage/images/campus-city/accommodation-600px.jpg" width="600" height="400">
      <div class="c-figure__content c-figure__content--blue">
        <h3>Accommodation</h3>
      </div>
    </a><p>Be right at the heart of the action. Choose from a range of room types on or very near to campus.</p>
  </div>
  <div class="o-grid__box o-grid__box--third o-grid__box--half@small o-grid__box--full@tiny">
    <a class="c-figure c-figure--link" href="https://www.york.ac.uk/study/student-life/york-yorkshire/">
      <img class="c-figure__image" alt="" src="https://www.york.ac.uk/static/data/homepage/images/campus-city/city-600px.jpg" width="600" height="400">
      <div class="c-figure__content c-figure__content--blue">
        <h3>The city of York</h3>
      </div>
    </a>
    <p>Lively, full of culture and beautiful, York is regularly voted one of the best places to live and visit in the UK.</p>
  </div>
</div>