<div class="o-wrapper o-wrapper--main o-grid" id="Main-Content">
  <div class="o-grid__row o-grid__row--default">
    <div class="o-grid__box o-grid__box--half  o-grid__box--half@large o-grid__box--half@medium">
      <div class="o-grid">
        <div class="o-grid__row">
          <div class="o-grid__box o-grid__box--twothirds@small">
              <h2>Enquiring minds, inspirational teaching and pioneering research</h2>
          </div>
          <div class="o-grid__box o-grid__box--third@small o-grid__box--full@tiny">
            <div class="o-grid">
              <div class="o-grid__row">
                <div class="o-grid__box o-grid__box--full@small o-grid__box--half@tiny">
                  <p><a class="c-btn c-btn--block c-btn--medium" href="https://www.york.ac.uk/study/">Study&nbsp;with&nbsp;us</a></p>
                </div>
                <div class="o-grid__box o-grid__box--full@small o-grid__box--half@tiny">
                  <p><a class="c-btn c-btn--block c-btn--medium" href="https://www.york.ac.uk/research/">Our&nbsp;research</a></p>
                </div>
                <div class="o-grid__box o-grid__box--full@small o-grid__box--half@tiny">
                  <p><a class="c-btn c-btn--block c-btn--medium" href="https://www.york.ac.uk/study/visit/online-campus-tour/#virtualtour">Virtual&nbsp;campus&nbsp;tour</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Course Search-->
    <div class="o-grid__box o-grid__box--half o-grid__box--half@large o-grid__box--half@medium">
      <h2 class="is-invisible">Courses</h2>
      <div class="c-tabs c-tabs--horizontal c-tabs--dark js-tabs">
        <ul role="tablist" class="c-tabs__nav">
          <li class="c-tabs__tab is-active"><a role="tab" aria-controls="search-courses" class="c-tabs__link" href="#search-courses" aria-selected="true">Search for a course</a></li>
          <li class="c-tabs__tab"><a role="tab" aria-controls="browse-courses" class="c-tabs__link" href="#browse-courses" aria-selected="false">Browse courses</a></li>
        </ul>
        <div class="c-tabs__container">
          <div role="tabpanel" class="c-tabs__content is-active" aria-hidden="false" id="search-courses">
            <form action="/study/undergraduate/courses/search/" method="get" id="Course-Search" class="c-form c-form--joined js-course-search" _lpchecked="1">
              <fieldset>
                <div class="c-form__element">
                  <input class="c-form__input c-form__input--hidden" id="mode" name="mode" value="" type="hidden">
                  <input class="c-form__input c-form__input--text" id="q" name="q" placeholder="Search by keywords or UCAS code" type="text" aria-label="Search courses">
                  <button type="submit" class="c-btn c-btn--medium" aria-label="Search"><i class="c-icon c-icon--search"></i></button>
                </div>
                <div class="c-form__element c-form__element--wrap" role="radiogroup" aria-label="Course type">
                  <div class="c-form__radio-group">
                    <input class="c-form__radio" id="level-undergraduate" name="level" value="undergraduate" checked="checked" type="radio">
                    <label for="level-undergraduate" class="c-form__label">Undergraduate</label>
                  </div>
                  <div class="c-form__radio-group">
                    <input class="c-form__radio" id="level-postgraduate-taught" name="level" value="postgraduate" type="radio">
                    <label for="level-postgraduate-taught" class="c-form__label">Postgraduate taught</label>
                  </div>
                  <div class="c-form__radio-group">
                    <input class="c-form__radio" id="level-postgraduate-research" name="level" value="postgraduate" type="radio">
                    <label for="level-postgraduate-research" class="c-form__label">Research</label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div role="tabpanel" class="c-tabs__content" aria-hidden="true" id="browse-courses">
            <ul class="u-two-columns">
              <li><a href="/study/undergraduate/courses/all">Undergraduate courses</a></li>
              <li><a href="/study/postgraduate/courses/all?mode=taught&amp;q=&amp;level=postgraduate">Postgraduate taught courses </a></li>
              <li><a href="/study/postgraduate/courses/all?mode=research&amp;q=&amp;level=postgraduate">Research degrees</a></li>
              <li><a href="/distance-learning/courses">Online and distance learning courses</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>