	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="University of York">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>University of York</title>
	<meta name="description" content="Outstanding teaching and research in a beautiful and historic European city. York is a member of the prestigious Russell Group of research-intensive UK Universities." />
	<meta name="keywords" content="student life, city, campus, York, city of York, York campus" />
	<meta property="og:title" content="University of York" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.york.ac.uk/" />
	<meta property="og:image" content="https://www.york.ac.uk/static/data/homepage/images/campus-city/city-600px.jpg" />
	<meta property="og:description" content="Outstanding teaching and research in a beautiful and historic European city. York is a member of the prestigious Russell Group of research-intensive UK Universities." />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@uniofyork">
	<meta name="twitter:title" content="University of York">
	<meta name="twitter:description" content="Outstanding teaching and research in a beautiful and historic European city. York is a member of the prestigious Russell Group of research-intensive UK Universities.">
	<meta name="twitter:creator" content="@uniofyork">
	<meta name="twitter:image" content="https://www.york.ac.uk/static/data/homepage/images/campus-city/city-600px.jpg">
	<link rel=”openorg” href="https://www.york.ac.uk/.well-known/profile.rdf"/>

	<link rel="search" type="application/opensearchdescription+xml" title="University of York" href="https://www.york.ac.uk/static/stable/opensearch.xml">

	<link rel="apple-touch-icon" sizes="180x180" href="https://www.york.ac.uk/static/stable/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="64x64" href="https://www.york.ac.uk/static/stable/img/favicons/favicon-64x64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.york.ac.uk/static/stable/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://www.york.ac.uk/static/stable/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="https://www.york.ac.uk/static/stable/img/favicons/webmanifest.json">
	<link rel="mask-icon" href="https://www.york.ac.uk/static/stable/img/favicons/safari-pinned-tab.svg" color="#0f3d4c">
	<link rel="shortcut icon" href="https://www.york.ac.uk/static/stable/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#f0f2e9">
	<meta name="msapplication-config" content="https://www.york.ac.uk/static/stable/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#f0f2e9">

	<!-- Typekit script -->
	<link rel="stylesheet" href="https://use.typekit.net/dvj8rpp.css">
	<link rel="stylesheet" href="https://www.york.ac.uk/static/stable/css/styles.min.css" media="screen">

	<script src="https://www.york.ac.uk/static/stable/js/modernizr.min.js"></script>
	<script src="https://www.york.ac.uk/static/stable/js/app.min.js"></script>

	<!-- Print styles -->
	<link rel="stylesheet" href="https://www.york.ac.uk/static/stable/css/print.min.css" media="print">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WXLX54');</script>
	<!-- End Google Tag Manager -->