<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXLX54" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a href="#Main-Content" class="o-skip-link">Skip to content</a>
<a href="https://www.york.ac.uk/about/legal-statements/accessibility/" class="o-skip-link">Accessibility statement</a>

<header class="c-main-header" role="banner">
  <div class="o-wrapper o-grid">
	<div class="o-grid__row">
	  <div class="o-grid__box o-grid__box--full">
		<nav class="c-utility-nav" role="navigation" aria-label="Utility navigation">
		  <ul class="c-utility-nav__list" role="menubar" aria-hidden="false">
			<li class="c-utility-nav__item c-utility-nav__item--parent" id="staff-and-students" role="menuitem" aria-haspopup="true">
			  <a class="c-utility-nav__link js-utility-toggle" href="#staff-and-students">Staff<span class="is-hidden@tiny-"> and </span><span class="is-hidden@small+">/</span>students</a>
			  <div class="c-utility-nav__subnav" aria-hidden="true" role="menu">
				<ul class="c-utility-nav__sublist">
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/staff/" tabindex="-1">Staff homepage</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/students/" tabindex="-1">Student homepage</a></li>
				</ul>
				<ul class="c-utility-nav__sublist">
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/about/term-dates/" tabindex="-1">Term dates</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/viewtimetables" tabindex="-1">Timetables</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/library/" tabindex="-1">Library</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://vle.york.ac.uk/" tabindex="-1">Yorkshare VLE</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://evision.york.ac.uk/" tabindex="-1">e:Vision</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://directory.york.ac.uk/" tabindex="-1">Directory</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://mail.google.com/" tabindex="-1">Email</a></li>
				</ul>
			  </div>
			</li>
			<li class="c-utility-nav__item c-utility-nav__item--parent" id="a-to-z" role="menuitem" aria-haspopup="true">
			  <a class="c-utility-nav__link js-utility-toggle" href="#a-to-z">A-Zs</a>
			  <div class="c-utility-nav__subnav" aria-hidden="true" role="menu">
				<ul class="c-utility-nav__sublist">
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/study/undergraduate/courses/all" tabindex="-1">Undergraduate courses</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/study/postgraduate/courses/all?q=&mode=taught&level=postgraduate" tabindex="-1">Postgraduate taught courses</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/study/postgraduate/courses/all?q=&mode=research&level=postgraduate" tabindex="-1">Postgraduate research courses</a></li>
				</ul>
				<ul class="c-utility-nav__sublist">
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/about/departments/academic/" tabindex="-1">Departments and centres</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/colleges/" tabindex="-1">Colleges</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/about/departments/support-and-admin/" tabindex="-1">Support services</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://directory.york.ac.uk/" tabindex="-1">Directory</a></li>
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/about/maps/" tabindex="-1">Maps and directions</a></li>
				</ul>
				<ul class="c-utility-nav__sublist">
				  <li class="c-utility-nav__subitem" role="menuitem"><a class="c-utility-nav__sublink" href="https://www.york.ac.uk/about/departments/a-to-z/" tabindex="-1">Full A-Z</a></li>
				</ul>
			  </div>
			</li>
			<li class="c-utility-nav__item" role="menuitem" aria-haspopup="false"><a class="c-utility-nav__link" href="https://jobs.york.ac.uk/">Jobs</a></li>
			<li class="c-utility-nav__item" role="menuitem" aria-haspopup="false"><a class="c-utility-nav__link" href="https://www.york.ac.uk/alumni/">Alumni</a></li>
			<li class="c-utility-nav__item" role="menuitem" aria-haspopup="false"><a class="c-utility-nav__link" href="https://www.york.ac.uk/global/globalpartnerships/europe-campus-city-college/">Europe Campus</a></li>
		  </ul>
		</nav>
	  </div>
	</div>

	<div class="o-grid__row">
	  <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
		<h2 class="c-main-header__title"><a href="https://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="240" height="40"></a></h2>
	  </div>
	  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
		<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
		  <fieldset>
			<div class="c-form__element">
			  <input class="c-form__input c-form__input--text" type="text" id="q-search" name="q" aria-label="Search" placeholder="Search york.ac.uk" />
			  <input type="hidden" name="site" value="yorkweb">
			  <button type="submit" class="c-btn c-btn--medium" aria-label="Search"><i class="c-icon c-icon--search"></i></button>
			</div>
		  </fieldset>
		</form>
		<!-- Mobile search -->
		<a href="#Mobile-Search" class="c-mobile-search-button js-toggle-mobile-search is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
	  </div>
	</div>
  </div>
</header>

<!-- Mobile search -->
<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
  <fieldset class="c-form__fieldset">
	<legend class="c-form__legend">Search york.ac.uk</legend>
	<div class="o-grid">
	  <div class="o-grid__row">
		<div class="o-grid__box o-grid__box--full">
		  <div class="c-form__element">
			<input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
			<input type="hidden" name="site" value="yorkweb">
			<button type="submit" class="c-btn c-btn--medium" aria-label="Search">Search</button>
		  </div>
		</div>
	  </div>
	</div>
  </fieldset>
</form>

<!-- Main nav -->
<nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
  <ul class="c-nav__list c-nav__list--structural">
    <li class="c-nav__item"><a href="https://www.york.ac.uk/study/">Study</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/research/">Research</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/business/">Business</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/about">About</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/global/">Global</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/news-and-events/news/">News</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/news-and-events/events">Events</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/york-unlimited/">York Unlimited</a></li>
    <li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
  </ul>
  <h4 class="c-nav__header">Staff and students</h4>
  <ul class="c-nav__list c-nav__list--associative">
    <li class="c-nav__item"><a href="https://www.york.ac.uk/staff/">Staff homepage</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/students/">Student homepage</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/about/term-dates/">Term dates</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/viewtimetables">Timetables</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/library/">Library</a></li>
    <li class="c-nav__item"><a href="https://vle.york.ac.uk/">Yorkshare VLE</a></li>
    <li class="c-nav__item"><a href="https://evision.york.ac.uk/">e:Vision</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/directory/">Directory</a></li>
    <li class="c-nav__item"><a href="http://mail.york.ac.uk/">Email</a></li>
  </ul>
  <h4 class="c-nav__header">A-Zs</h4>
  <ul class="c-nav__list c-nav__list--associative">
    <li class="c-nav__item"><a href="https://www.york.ac.uk/study/undergraduate/courses/all">Undergraduate courses</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/study/postgraduate/courses/all">Postgraduate courses</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/about/departments/academic/">Departments and centres</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/colleges/">Colleges</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/about/departments/support-and-admin/">Support services</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/about/maps/">Maps and directions</a></li>
    <li class="c-nav__item"><a href="https://www.york.ac.uk/about/departments/a-to-z/">Full A-Z</a></li>
  </ul>
</nav>