<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--full" style="margin-top:20px;">
    <h2>News and events</h2>
  </div>
</div>
<div class="o-grid__row o-grid__row--default" id="homepage-news-events">
  <div class="o-grid__box o-grid__box--threequarters">
    <div class="o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--half@tiny">
          <!--(bake ../../download/news/item0.html)-->
        </div>
        <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--half@tiny">
          <!--(bake ../../download/news/item1.html)-->
        </div>
        <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--full@tiny">
          <!--(bake ../../download/news/item2.html)-->
        </div>
      </div>
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--half@tiny ">
          <!--(bake ../../download/news/item3.html)-->
        </div>
        <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--half@tiny">
          <!--(bake ../../download/news/item4.html)-->
        </div>
        <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--full@tiny">
          <!--(bake ../../download/news/item5.html)-->
        </div>
      </div>
    </div>
  </div>
  <div class="o-grid__box o-grid__box--quarter">
    <div class="o-grid">
      <div class="o-grid__row">
        <!--#include virtual="/news-and-events/snippets/news-responsive/" -->
      </div>
    </div>
    <div class="o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box  o-grid__box--full ">
          <hr />
        </div>
      </div>
      <div class="o-grid__row">
        <div class="o-grid__box  o-grid__box--half o-grid__box--half@medium o-grid__box--half@small o-grid__box--half@tiny">
          <p><a class="c-btn c-btn--secondary c-btn--small c-btn--block" href="https://www.york.ac.uk/news-and-events/news/">All  news</a></p>
        </div>
        <div class="o-grid__box  o-grid__box--half o-grid__box--half@medium o-grid__box--half@small o-grid__box--half@tiny">
          <p><a class="c-btn c-btn--secondary c-btn--small c-btn--block" href="https://www.york.ac.uk/news-and-events/events/">All events</a></p>
        </div>
      </div>
    </div>
  </div>
</div>