<!-- RESEARCH -->
<div class="o-grid__row o-grid__row--alt3  ">
  <div class="o-grid__box o-grid__box--full">
    <h2>Explore our research</h2>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt3">
  <div class="o-grid__box o-grid__box--half">
    <p class="">A member of the Russell Group, we are committed to strengthening our position as one of the world’s premier institutions for inspirational and life-changing research.</p>
  </div>
  <div class="o-grid__box o-grid__box--half">
      <p><a href="https://www.york.ac.uk/research/">Our research</a> is focused around seven themes which align our academic strengths to best meet the grand scientific, social and environmental challenges of our time.</p>
  </div>
</div>

<div class="o-grid__row o-grid__row--alt3 js-equal-height-row " id="homepage-research">
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny">
    <!--(bake ../../download/research/item0.html)-->
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny">
    <!--(bake ../../download/research/item1.html)-->
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny ">
    <!--(bake ../../download/research/item2.html)-->
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny">
    <!--(bake ../../download/research/item3.html)-->
  </div>
</div>
