<!-- RESEARCH -->
<div class="o-grid__row o-grid__row--alt3  ">
  <div class="o-grid__box o-grid__box--full">
    <h2>Explore our research</h2>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt3">
  <div class="o-grid__box">
    <p>To mark World Mental Health Day we are highlighting examples of our pioneering mental health research.</p>
    <p>Our work influences national and international policy and practice - and makes a difference to the care of local York residents, our own students and staff, and some of the most vulnerable communities across the world. <a href="https://www.youtube.com/watch?v=mDy04nw1cWQ&feature=emb_logo">Watch this video for an overview of our mental health research</a>.</p>
  </div>
</div>

<div class="o-grid__row o-grid__row--alt3 js-equal-height-row " id="homepage-research">
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny">
    <!--(bake ../../download/research/item0.html)-->
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny">
    <!--(bake ../../download/research/item1.html)-->
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny ">
    <!--(bake ../../download/research/item2.html)-->
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--half@small o-grid__box--half@tiny">
    <!--(bake ../../download/research/item3.html)-->
  </div>
</div>
