<!-- SIGNPOSTS -->
<div class="o-grid__row" id="homepage-signposts">
  <div class="o-grid__box o-grid__box--third o-grid__box--half@small">
    <div class="c-signpost">
      <i class="c-signpost__icon c-icon c-icon--map c-icon--4x" aria-hidden="true"></i>
      <h3>Campus map</h3>
      <p>Explore where things are on our compact green campus.</p>
      <a class="c-btn c-btn--medium" href="https://www.york.ac.uk/about/maps/" role="button">Campus map</a>
    </div>
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small">
    <div class="c-signpost">
      <i class="c-signpost__icon c-icon c-icon--calendar c-icon--4x" aria-hidden="true"></i>
      <h3>Term dates</h3>
      <p>Find out about how the academic year is structured.</p>
      <a class="c-btn c-btn--medium" href="https://www.york.ac.uk/about/term-dates/" role="button">Term dates</a>
    </div>
  </div>
  <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small">
    <div class="c-signpost">
      <i class="c-signpost__icon c-icon c-icon--map-marker c-icon--4x" aria-hidden="true"></i>
      <h3>Visit us</h3>
      <p>Visit us and you'll find out why so many students choose York. </p>
      <a class="c-btn c-btn--medium" href="https://www.york.ac.uk/study/visit/" role="button">Visit us</a>
    </div>
  </div>
</div>