<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--full">
    <a href="/study/undergraduate/" class="c-figure c-figure--banner" style="height: auto;">
      <img class="c-figure__image" src="https://www.york.ac.uk/static/data/homepage/images/study-banner/choice_is_york_stamp_1900x1000.jpg" alt="">
      <div class="c-figure__content c-figure__content--half c-figure__content--right">
        <h2>Apply now for 2020</h2>
        <p>Making a decision about university isn&rsquo;t easy, especially at the moment.</p>
        <p>There&rsquo;s still time to apply for most 2020 courses. Discover our undergraduate courses and find out how to apply.</p>
        <button class="c-btn c-btn--block c-btn--medium">Find your course</button>
      </div>
    </a>
  </div>
</div>
