<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--full">
    <a href="https://www.york.ac.uk/study/undergraduate/applying/clearing/updates/" class="c-figure c-figure--banner" style="height: auto;">
      <img class="c-figure__image" src="https://www.york.ac.uk/static/data/homepage/images/study-banner/clearing-homepage-banner.jpg" alt="">
      <div class="c-figure__content c-figure__content--half c-figure__content--right">
        <h2>Looking for a late place?</h2>
        <p>Preparing for university has been a little different this year, to say the least. We know many students have a tough decision to make about their future.</p>
        <p>Plan ahead and sign up for booking alerts for our online Clearing events for real-life tips and advice from our students.</p>
        <button class="c-btn c-btn--block c-btn--medium">Sign up for Clearing updates</button>
      </div>
    </a>
  </div>
</div>
