<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--full">
    <a href="https://www.york.ac.uk/study/undergraduate/visits/open-days/" class="c-figure c-figure--banner" style="height: auto;">
      <img class="c-figure__image" src="https://www.york.ac.uk/static/data/homepage/images/study-banner/openday_section_07-2020.jpg" alt="">
      <div class="c-figure__content c-figure__content--third c-figure__content--left">
        <h2>Undergraduate Online Open Days</h2>
        <p>Explore what studying and living in York is really like at our Online Open Days in September.</p>
        <button class="c-btn c-btn--block c-btn--medium">Book now</button>
      </div>
    </a>
  </div>
</div>
