<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--full">
    <a href="/york-unlimited/" class="c-figure c-figure--banner" style="height: auto;">
      <img class="c-figure__image" src="https://www.york.ac.uk/static/data/homepage/images/york-unlimited/york-unlimited-get-involved.jpg" alt="">
      <div class="c-figure__content c-figure__content--half">
        <h2><img src="https://www.york.ac.uk/static/stable/img/york-unlimited-logo-tagline.svg" alt="York Unlimited, The Campaign for the University of York" style="width:350px;" ></h2>
        <p>Connect to projects that enable brilliant minds to break barriers, overcome limitations and think differently to solve the challenges of the world today.</p>
        <button class="c-btn c-btn--block c-btn--medium">Get involved</button>
      </div>
    </a>
  </div>
</div>
