<!doctype html>
<html lang="en">
<head>
  <!--(bake ./partials/head.html)-->
</head>

<body id="homepage">

<!--(bake ./partials/header.html)-->

<!--(bake ./partials/coursesearch.html)-->

<!--(bake ../download/banner/index.html)-->

<div class="o-wrapper o-grid">

  <!--(bake ./partials/research.html)-->

  <!--(bake ../download/foi/index.html)-->
   
  <!--(bake ./partials/study.html)-->
  
  <!--(bake ./partials/yorkunlimited.html)-->
 
  <!--(bake ./partials/newsevents.html)-->

  <!--(bake ./partials/campuslife.html)-->

  <!--(bake ./partials/signposts.html)-->

</div>

<!--(bake ./partials/footer.html)-->

</body>

</html><!-- Footer end-->
